[Unit]
Description=Update Engine
ConditionVirtualization=!container
ConditionPathExists=!/usr/.noupdate

[Service]
Type=dbus
BusName=no.remarkable.update1
ExecStart=/usr/sbin/update_engine -foreground
BlockIOWeight=100
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
